body {
    background-color: rgb(33, 150, 218);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    margin-top: 20px;
}

#tabuada {
    border: 1px solid black;
    padding: 5px;
    font-size: 12pt;
    border-radius: 5px;
    min-width: 200px;
    width: auto;
}